header {
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
    padding: 15px 10px;
}

h1 span {
    color: var(--theme-color);
}

#cityInput {
    background-color: rgb(	42, 43, 45);
    padding: 0.5rem;
    border: none;
    font-size: 1rem;
    border-radius: 25px;
    color: white;
}

#citySelect {
    display: none;
}

#searchCityButton {
    visibility: hidden;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    background-color: var(--theme-color);
}

#currentLocationButton {
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    background-color: var(--theme-color);
}
