header {
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 15px 10px 2px;
}

.weather-input {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
}

h1 span {
    color: var(--theme-color);
}

#cityInput {
    background-color: rgb(	42, 43, 45);
    padding: 0.5rem;
    border: none;
    font-size: 1rem;
    border-radius: 25px;
    color: white;
    width: 80vw;
}

#citySelect {
    display: none;
    position: absolute;
    top: 40px;
    width: 100%;
}

#searchCityButton {
    visibility: hidden;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    background-color: var(--theme-color);
    width: 80vw;
}

#currentLocationButton {
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    background-color: var(--theme-color);
}
