.all-days {
    padding: 10px;
}

.weather {
    width: 100%;
    border: none;
    margin: 10px;
}

.hourly-forecast {
    display: flex;
    gap: 10px;
    overflow: auto;
    padding-right: 20px;
}

.card {
    background-color: rgb(	42, 43, 45);
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    font-size: 0.7rem;
    border: 1px solid white;
}

.card img {
    width: 40px;
    height: 40px;
}

.card .pop {
    font-size: 0.5rem;
    height: 10px;
    padding-top: 5px;
    color: rgb(0, 105, 148);
}

.locations {
    border-bottom: 1px solid white;
    display: flex;
    gap: 20px;
    overflow: auto;
    white-space: nowrap;
    padding: 0 15px 15px 15px;
    & span {
        cursor: pointer;
    }
}

.focus {
    border-bottom: 3px solid var(--theme-color);
    & .fa-solid.fa-location-dot {
        color: var(--theme-color);
    }
}

.date {
    padding: 10px;
}